.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $blue;
    margin: 1rem;
    &-button {
        background-color: $blue;
        color: $white;
        border-radius: 28px;
        width: 140px;
        height: 48px;
        line-height: 48px;
        font-size: 16px;
        font-weight: 700;
        text-decoration: none;
        text-align: center;
        z-index: 1;
    }
}